<%= form_with model: post do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :attachments, style: "display: block" %>

    <%- max_size ||= 10 %>
    <%- max_files = 10 %>
    <!-- <div class="attachments dropzone dropzone-default dz-clickable" data-controller="attachments" -->
    <div class="attachments dz-clickable" data-controller="attachments"
         data-attachments-max-files="<%= max_files %>"
         data-attachments-max-file-size="<%= max_files %>">
      <%= form.file_field :attachments, direct_upload: true, multiple: true, disabled: true, class: 'd-none', data: {attachments_target: 'input'} %>

      <div class="dz-message needsclick drop-container">
        <div class="message-container">
          <div>
            <a>Click to upload</a> or drag and drop your files here.
          </div>
          <div>Maximum file size <%= max_size %> MB.</div>
        </div>
      </div>

      <div id="dz-previews-container" data-attachments-target="previewsContainer" class="previews-container">
        <% post.attachments.each do |attachment| %>
           <div class="dz-preview dz-file-preview preview-file">
             <%= form.hidden_field :attachments, value: attachment.signed_id, multiple: true %>

             <!-- <div class="dz-progress"><div class="dz-upload" data-dz-uploadprogress style="width: 100%;"></div></div> -->

             <i class="file-icon mdi mdi-file-outline"></i>
             <img data-dz-thumbnail />
             <div class="dz-details file-details">
               <div class="dz-filename"><span><%= attachment.filename %></span></div>
             </div>

             <i class="file-remove-icon mdi mdi-close" data-action="click->attachments#removeExisting"></i>
           </div>
         <% end %>
      </div>
      <div class="d-none">
        <div data-attachments-target="previewTemplate">
          <div class="dz-preview dz-file-preview preview-file">
            <!-- <div class="dz-progress"><div class="dz-upload" data-dz-uploadprogress style="width: 0;"></div></div> -->

            <i class="file-icon mdi mdi-file-outline"></i>
            <img data-dz-thumbnail />
            <div class="dz-details file-details">
              <div class="dz-filename"><span data-dz-name></span></div>
              <div class="dz-size" data-dz-size></div>
            </div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>

            <i class="file-remove-icon mdi mdi-close" data-dz-remove></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, class: "form-input" %>
  </div>

  <div class="mb-3">
    <%= form.check_box :draft %>
    <%= form.label :draft %>
  </div>

  <div class="mb-3">
    <%= form.label :scheduled_at, style: 'display: block' %>
    <%= form.text_field :scheduled_at, data: {controller: 'datetime-picker'} %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
