<div id="<%= dom_id post %>">
  <%- if post.attachments.attached? %>
    <%- post.attachments.each do |attachment| %>
      <p>
        <%= image_tag attachment.variant(:thumb) %>
      </p>
    <%- end %>
  <%- end %>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Draft:</strong>
    <%= post.draft? %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= post.published_at %>
  </p>

</div>
