<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || Config[:app_name] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Datetimepicker styles %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" type="text/css" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page-header sticky-top d-flex align-items-center justify-content-between">
      <div class="px-5 fw-bold">
        <%= Config[:name] %>
      </div>
      <div class="d-flex align-items-center">
        <%= form_with url: posts_path, method: :get, class: 'd-flex flex-row' do |f| -%>
          <%= text_field_tag :q, params[:q], class: 'form-control form-control-sm' %>
          <%= button_tag type: 'submit', class: 'btn btn-link text-white' do %>
            <i class="mdi mdi-magnify"></i>
          <% end %>
        <% end -%>
        <div><%= Current.user.email_address %></div>
      </div>
    </div>
    <%= render 'shared/menu' %>
    <main role="main" class="col-9 pt-3 px-4">
      <%# TODO: check it for login form %>
      <!-- <p class="notice"><%= notice %></p> -->
      <!-- <p class="alert"><%= alert %></p> -->

      <%= yield %>
    </main>
  </body>
</html>
